#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #333333;
  font-size: 40px;
}

.letter {
  width: 60px;
  height: 60px;
  margin: 3px; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  place-items: center;
  font-size: 20px;
  font-weight: bolder;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.letter.curLetter {
  border: 2px solid #000000;
}

.keyboard {
  margin-top: 10px;
}

.key {
  width: 40px;
  height: 55px;
  margin: 3px;
  font-size: 16px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  background-color: #848482;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

#correct {
  background-color: #50C878;
}
#present {
  background-color: #FCE883;
}
#absent {
  background-color: #A9A9A9;
}


.key.big {
  width: 100px;
}
.key.greyed {
  background-color: #414A4C;
}

.key.yellowed {
  background-color: #D5B60A;
}
.key.greened {
  background-color: #088e58;
}
.rowKeyboard {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 3px;
}

.board {
  width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 50px;
}

.rowWord {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 3px;
  flex-direction: row-reverse;
}

.buttonRestart {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #848482;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
